.Mainbooks{
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.accountbooks{
    width: 80%;
    background-color: aliceblue;
    margin-top: 5em;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    border-radius: 20px;
    padding: 2em;
}
.b-btn{
    background-color: rgb(13, 226, 34);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: .8em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.borrowed{
    width: 100%;
    text-align: center;
    color: white;
}