body{
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

.topbarContainer{
    height: 50px;
    width: 100%;
    background-color:rgb(61, 41, 148);;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.topbarLeft{
    flex:3;
}
.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold ;
    cursor: pointer;
}
.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.searchbar input{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding-left: .8em;
    border: none;
    outline: none; 
}
.topbarCenter{
    flex: 5;
}
.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.topbarIcons{
    display: flex;
}
.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.topbarItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbrIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position:absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}