body{
    padding: 0;
    margin: 0;
}
.register{
    background-image: url("../../images/home-library-hxsr6s1snigufmrr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
     
}
.login{
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.loginWrapper{
    width: 70%;
    height: 100%;
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 15, 15) ;
    opacity: .9;
    border-radius: 20px;
    
   
}
.left,
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left h1{
    font-size: 40px;
    font-weight: 700;
    color: #353696;
    margin-bottom: 10px;
}
.left p{
    font-weight: 800;
    color: #fafafc;
}
.right{
    background-color: rgb(23, 21, 21);
    border-radius: 10px;
    display: flex;
    padding: 1em;
    margin: .3em;
    border-radius: 10px;
    opacity: 1;
}
.form-container-rg{
  align-items: center;
}
.form-container-rg h1{
    color:#291866;
}
.form-container-rg .rg-log{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-container-rg .rg-log label{
    color: #291866;
    padding-top:  0.3em;
    font-weight: 600;
}
.form-container-rg .rg-log input,
.form-container-rg .rg-log select 
{ 
    border-radius: 10px;
    padding: .5em;
}
.register-btn{
    color: #fafafc;
    background-color:#291866;
    margin-top: .5em;
    padding: .8em;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 15em;
}
.form-container .rg-log p{
    text-align: center;
    font-size: 1rem;
    color: #fafafc;
  
}
.form-container .rg-log .pLogin {
    color: #3e3166;
    margin: 20px;
    
}

.rg-login{
    padding-left: 5em;
    
}
